html {width: 100%;
    height: 100%;
    position: relative;
}
body{
    width: 100%;
    height: 100%;
    background-color: skyblue;
    #login-box{
        width: 365px;height: 295px;
        border: 5px solid #394557;
        position: absolute;
        margin-top: 150px;
        background-color: white;
        text-align: center;
        
    }
}
.container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    
    
  }
  .register{
    color: #428bca
  }
  .block{
      position: relative;
      .hide-info{font-size: 12px;
          position: absolute;
          left: 2px;
          bottom: -15px;
          color: red;
          display: none;
      }
  }