<div class="lv-head">
    <div class="left">
      <a href="/login.html" class="logo">天狗商城后台管理系统</a>
    </div>
    <div class="right">
      <p>欢迎您 - <span id="nickName"></span> <span id="admin-show">(管理员)</span><span id="member-show">(普通会员)</span></p>
      <button class="btn btn-primary" id="exit">退出</button>
    </div>
  </div>
  