<ul class="lv-menu">
    <li><a href="/index.html">首页</a></li>
    <li id="userPage"><a href="/users">用户管理</a></li>
    <li><a href="/brand">品牌管理</a></li>
    <li><a href="/phone">手机管理</a></li>
  </ul>
